<!DOCTYPE html>
<html lang="en" data-layout-decorate="~{layouts/default-list-layout}">
    <head id="head">

    <title data-th-text="|#{label_show_entity(#{label_todo})}|">Show Todo - Spring Roo application</title>

  </head>

  <body id="body">

    <header role="banner">
      <!-- Content replaced by layout of the page displayed -->
    </header>

    <!--CONTAINER-->
    <div class="container bg-container">
      <!-- CONTENT -->
      <!--
        Only the inner content of the following tag "section" is included
        within the template, in the section "content"
      -->
      <section data-th-fragment="inline-content" data-layout-fragment="content" data-th-object="${todo}">
        <div>

          <!-- CONTENT -->
            <div id="mainEntityFieldSet">
              <ul class="list-unstyled" id="containerFields">
                  <li id="todo-text-field" data-z="393b37b1">
            	      <strong data-th-text="#{label_todo_text}">text</strong>
                    <span data-th-text="*{{text}}">textValue</span>
         	        </li>
                  <li id="todo-topic-field" data-z="ff4373cd">
            	      <strong data-th-text="#{label_todo_topic}">topic</strong>
                    <span data-th-text="*{{topic}}">topicValue</span>
         	        </li>
                  <li id="todo-createddate-field" data-z="d5939c8d">
            	      <strong data-th-text="#{label_todo_createddate}">createdDate</strong>
                    <span data-th-text="*{{createdDate}}">createdDateValue</span>
         	        </li>
                  <li id="todo-createdby-field" data-z="b77f4eed">
            	      <strong data-th-text="#{label_todo_createdby}">createdBy</strong>
                    <span data-th-text="*{{createdBy}}">createdByValue</span>
         	        </li>
                  <li id="todo-modifieddate-field" data-z="4adc2091">
            	      <strong data-th-text="#{label_todo_modifieddate}">modifiedDate</strong>
                    <span data-th-text="*{{modifiedDate}}">modifiedDateValue</span>
         	        </li>
                  <li id="todo-modifiedby-field" data-z="5e6103f1">
            	      <strong data-th-text="#{label_todo_modifiedby}">modifiedBy</strong>
                    <span data-th-text="*{{modifiedBy}}">modifiedByValue</span>
         	        </li>
              </ul>
            </div>

        </div>

      </section>
      <!-- /CONTENT -->
  </div>
  <!-- /CONTAINER -->

  <footer class="container">
    <!-- Content replaced by layout of the page displayed -->
  </footer>

  <!-- JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so that the pages load faster -->
  <!-- JavaScript loaded by layout of the page displayed -->
  <!--
       Only the inner content of the following tag "javascript" is included
       within the template, in the div "javascript"
      -->
  <div data-layout-fragment="javascript">
  </div>

  </body>

</html>
